@media (min-width: 768px) {
    /* Medium screen styles */
#theButton {
    display: none;
}


#theNav {
    grid-template-rows: 1fr;
}

#theNav ul, #theNav ul.open {
    display: flex;
    li a {
        padding: .4rem 1rem;
        border: none;
    }
    a:hover {
        text-decoration: underline;
    }
} //end ul

#navWrapper {
    border-bottom: 5px solid orange;
}

header {
    padding: 2rem $gutter;
    h1 {font-size: 2rem;}
}}

#headerWrapper {
    span {
      font-size: 2rem;}
  
  }